img{/*usado em todas as páginas*/
			width: 6vh;
		    }
img.img{
		    width: 100%;
			height: 100%;
            }	
img.img1{
			width: 40%;
			height:35%;
			display:flex;
			justify-content: left;
			left: 0;
	}	
img.img2{
	width: 100%;
	height: 25vh;
}
img.img3{
	width: 13vh;
	height: 11vh;
}
nav.nav1{/*usado em todas as páginas*/
		    background-color: darkblue;
            height: 10%;
			width: 80%;
			left:20%;
/*			right:20%;*/
			position: fixed ;
			z-index: 1;
			text-align:center;
			display:flex;
			justify-content: center;
			border: solid black;
			}

.div2{ /*usado em todas as páginas*/    
            background-color:#ccc;
			text-align:center;
			display:flex;
			justify-content: center;
			border: solid black;
			width: 100%;
			position: relative;
}
.div3{
	width: 5%;
	height: auto;
	float: right;
	border: solid black;
}
header{/*usado em todas as páginas*/
		    position:fixed;
			top:0;
			left: 0;
			z-index:1;
}
.abs1{/*usado em todas as páginas*/
		    position: absolute;
			right: 0;
            top: 0;
			}
.abs2{/*usado em todas as páginas*/
		    position: absolute;
			right: 30%;
			top: 0;
			}
.abs3{/*usado em todas as páginas*/
		    position: absolute;
			top: 0;
			right: 40%;
			}
.abs4{/*usado em todas as páginas*/
		    position: absolute;
			top: 0;
			right: 50%;
			}
.abs5{/*usado em todas as páginas*/
		    position: absolute;
			top: 0;
			right: 60%;
			}
.abs6{/*usado em todas as páginas*/
	        position: absolute;
			top: 0;
			right: 10%;
}
.abs7{
	position: absolute;
	top: 0;
	left: 50%;
}
.abs8{
		position: absolute;
		top: 0;
		left: 25%;
}
.abs9{
	position: absolute;
	top: 0;
	left: 40%;
}
.abs10{
	position: absolute;
	top: 13vh;
	left: 0;
}
.abs11{
	position: absolute;
	top: 13vh;
	left: 40%;
}
.abs12{
	position: absolute;
	top: 26vh;
	left: 0;
}
.abs13{
	position: absolute;
	top: 26vh;
	left: 40%;
}
.abs14{
	position: absolute;
	top: 39vh;
	left: 0;
}
.abs15{
	position: absolute;
	top: 39vh;
	left: 40%;
}
article.container{/*usado em todas as páginas*/
			background-color: #ccc;
			height: auto;
			width: 70%;
			left:15%;
			right:15%;
			position:relative;
			padding:10px;
			border: dotted gray;
			} 
.center{
	float: center;
}
article.container1{
	background-color: black;
	height: auto;
	width: 95%;
	padding-left: 2.5%;
	padding-right: 2.5%;
	position:relative;
	border: none;
} 
article.hm{
	background-color: lightgray;
	height: auto;
	width: 20%;
	left: 7.5%;
	position:absolute;
	border: none;
	float: left;
}
article.hm3{
	background-color: lightgray;
	height: auto;
	width: 20%;
	left: 7.5%;
	position: relative;
	border: none;
	float: left;
}
article.hm1{
	background-color: lightgray;
	height: 58vh;
	width: 20%;
	left: 7.5%;
	position:absolute;
	border: none;
	float: left;
	margin-top: 0;
}
article.hm2{
	background-color: lightgray;
	height: 148vh;
	width: 40%;
	left: 30%;
	margin-top: 0;
	position:relative;
	border: none;

}
img.hm3{
	width: 19vh;
	height: auto;
	left: 0;
	bottom: 0;
	background-color: gray;
	padding: 1%;
	float: left;
	margin-right: 10px;
}
img.hm2{
	height: 100%;
	width: 20%;
	right: 7.5%;
	position: relative;
	border: none;
	float: right;
	margin-top: 0;
}
h3.hm{
	color: black;
	text-align: left;
}
h4.hm{
	color: darkblue;
	position: absolute;
	left: 7.5%;
	margin-bottom: 0;
}
h4.hm1{
	color: darkblue;
	position: relative;
	right: 7.5%;
	margin-bottom: 0;
	float: right;
	text-align: left;
}
h4.hm2{
	color: darkblue;
	left: 32.5%;
	margin-bottom: 0;
	position: absolute;

	text-align: left;
}
hr.hm{
	width: 20%;
	margin-top: 0;
	position: absolute;
	left: 7.5%;
}
hr.hm1{
	width: 20%;
	margin-top: 0;
	float: right;
	position: relative;
	right: 7.5%;
}
hr.hm2{
	width: 40%;
	margin-top: 0;
	left: 30%;
	float: center;
	position: absolute;
}
hr.hm3{
	color: gray;
}
.caixa1{/*usado na página "História"*/
		    float: left;
			width: auto;
		    margin-right: 10px;
		    margin-bottom: 10px;
			border: double black;
		    }
.caixa2{/*usado na página "PropostaPedagogica"*/
		    float: right;
		    height: 300%;
		    margin-left: 10px;
		    margin-bottom: 10px;
			border: double black;
		    }
.display{/*usado em todas as páginas*/
            display: inline-block;
		    width:auto;
			height:auto;
			padding: 0.5vw;
		    }
.align{
	display: flex;
	justify-content: center;
}
h1{/*usado em todas as páginas*/
		    text-align: center;
		    }
h2{
	padding-left: 5%;
}
h3{/*usado em todas as páginas*/
	text-align: center;
	color: blue;
}
h4{/*usado em todas as páginas*/
	text-align: center;
	color: red;
}
.p1{
	        color: white;
			text-align: center;
}
.p2{
	text-align: center;
}
.p3{
	padding-left: 5%;
	padding-right: 5%;
}
.p4{
	text-align: right;
}
.p5{
	text-align: left;
}
.p6{
	background-color: blue;
	color: white;
}
figcaption{
	text-align: right;
}
a{/*usado em todas as páginas*/
			color: black;
			}
a:active{/*usado em todas as páginas*/
			color: red;
}
a:visited{/*usado em todas as páginas*/
			color: purple;
}
footer{/*usado em todas as páginas*/
	position: relative;
	bottom: 0;
	left:0;
	right:0;
	background-color: darkblue;
	height: auto;
	width: 100%;
}
iframe{/*usado em todas as páginas*/
	height: 10%;
	width: 95%;
	left: 0;
	bottom: 0;
	right: 0;
	padding-left: 2.5%;
	padding-right: 2.5%;
	padding-top: 1%;
}
video{
	align-items: center;
	padding-left: 25%;
	width: 50%;
}
hr{/*usado em todas as páginas*/
	background-color:darkblue;
}
span{/*usado em todas as páginas*/
	color: blue;
}
.span{
	color: red;
}
.span1{
	justify-content: right;
}
.span2{
	color: darkgray;
}
pre{/*usado em todas as páginas*/
	font-family: 'Times New Roman', Times, serif;
}
.borda{/*Usado na página TabCursos.html*/
	border: solid black;
}
th{/*Usado na página TabCursos.hmtl*/
	text-align: center;
}
legend{/*usado na página Prova.html*/
	text-align: center;
}
.rm{}
@viewport {/*usado em todas as páginas*/
	width: device-width;
	zoom: 1;
	min-zoom: 0.25;
	max-zoom: 4;
	orientation: auto;
}
@media screen and (max-width: 767px){
	body{font-size: 80%;
		 text-align: center;}
    p{text-align: center;}
	iframe{display: none;}
	header{width: 45%;
		   height: 40%;
		   padding-top: 2.7%;}
	.caixa1{display: none;}
	.caixa2{display: none;}
	pre{font-size: 75%;
	    text-align: center;}
	.rm{display: none;}
	article.hm2{height: 140vh;
				width: 70%;
				left: 15%;}
	hr.hm2{width: 70%;
		  left: 15%;}
	h4.hm2{left: 15%;
		  font-size: 90%;}
}
@media screen and (min-width: 768px)and (max-width: 1023px){
	body{font-size: 90%;}
	pre{font-size: 85%;}
	.caixa{float: none;}
	.caixa2{float: none;}
	iframe{display: none;}
	.rm{display: none;}
	article.hm2{height: 145vh;
				width: 70%;
				left: 15%;}
	hr.hm2{width: 70%;
		   left: 15%;}
    h4.hm2{left: 15%;
		   font-size: 90%;}
}
@media screen and (min-width: 1024px){
	body{font-size: 100%;}
	pre{font-size: 95%}
	article.hm2{height: 173vh;}
}